.git/
.husky/
.idea/
.vscode/
documentation/
dist/
docker/
node_modules/
test/
tools/
.env.example
env.d.ts
LICENCE
Makefile
README.md
local-server.sh
prod-server.sh
dev-server.sh
network.sh
volume.sh
lint-staged.config.js
docker-compose.yml
docker-compose-dev.yml
commitlint.config.js
commitlintrc.json
CHANGELOG.md
.prettierrc
.huskyrc
