// Custom colors
$app-primary: #11555f;

$app-secondary: #34c759;

$app-tertiary: #081f32;

$app-gray: #E0E0E0;
$app-gray-middle: #828282;
$app-gray-darker: #4F4F4F;

$app-danger: #f04438;
$app-info: #2e90fa;
$app-warning: #f79009;
$app-success: #12b76A;

